<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/403b5b67-9eab-4529-81c7-c0d20f41fd73/resourceGroups/wolve/providers/Microsoft.Web/sites/wolve</ResourceId>
    <ResourceGroup>wolve</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wolve.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wolve.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wolve</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wolve</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StockContext" Order="1" Enabled="True">
          <Destination Path="Data Source=stocksdb.database.windows.net;Initial Catalog=StockInfo;User ID=polosa4;Password=Parasolia89" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StocksInfo.DAL.StockContext, StocksInfo" MigrationConfiguration="StocksInfo.Migrations.Configuration, StocksInfo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="StockContext-Web.config Connection String">
      <ParameterValue>Data Source=stocksdb.database.windows.net;Initial Catalog=StockInfo;User ID=polosa4;Password=Parasolia89</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StockContext-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=StockInfo;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="StockContext-Web.config Connection String">
      <ParameterValue>Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=StockInfo;Integrated Security=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>