@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center back-color">
                           
                    <h1 class="h1-responsive">Special for WOLVERINE</h1>
                
                    <h3>Top 20 stocks with target price above 50%</h3>
                
                    @Html.ActionLink("Get Data", "Index", "Stock", null, new { @class="btn btn-success btn-lg" })
                    <a style=" margin:15px 10px;" href="https://github.com/polosa4/StockApp" class="btn btn-primary btn-lg">GitHub</a>
                </li>
            </ul>
        </div>
    </div>
</div>